html {
	font-family: Verdana, sans-serif;
	font-weight: normal;
	color: white;
}

body {
	background-color: black;
	text-align: center;
}

header {
	font-size: 3.125rem;
}

h2 {
	font-weight: 300;
	font-size: 2.625rem;
}

img {
	max-width: 100%;
}

.download-link {
	color: aquamarine;
	font-size: 1rem;
}

@media print, only screen and (max-width: 550px) {
	picture {
		min-width: 492px;
	}
	
	body {
		min-width: 525px;
	}
}
